@font-face {
    font-family: "Calisga";
    src: local("fonts/Calisga.ttf"), url("fonts/Calisga.ttf")
  }

@font-face {
    font-family: "KinshipSans-400";
    src: local("fonts/KinshipSans-400.otf") format("opentype");
}
@font-face {
    font-family: "KinshipSans-100";
    src: local("fonts/KinshipSans-100.otf") format("opentype");
}

body {
  font-family: "KinshipSans-100";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 32px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.header.title {
    padding: 0;
    margin: 0;
    width: 200px;
}

.slogan {
    font-size: 12px;
}

#menu {
  display: inline;
}

#menu-mini {
  display: none;
}

@media(max-width:1200px) {
  .slogan {
    display: none;
  }

  .header {
    width: 100%;
  }

  #menu {
    display: none;
  }

  #menu-mini {
    display: inline;
  }
}

@media(max-width:400px) {
  #logo {
    max-width: 200px;
  }
}

.content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    width: 1200px;
}

.content#contact {
  flex-direction: column;
  width: 100%;
}

#contact p {
  text-align: center;
}

.content#carta {
  width: 50%;
  display: block;
}

.menu-title {
  font-size: 32px;
}

#carta > .row {
  margin-bottom: 16px;;
}

@media(max-width:800px) {
  .menu-title {
    font-size: 24px;
  }

  #carta > .row {
    font-size: 12px;;
  }
}

@media(max-width:1200px) {
  .content {
    width: 100%;
  }

  .content#contact {
    width: 80%;
  }
}

.box {
    margin: 30px;
    position: relative;
}

.box img {
    width: 500px;
    height: 500px;
    object-fit:cover;
}

.box p {
    font-family: "KinshipSans-400";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 32px;
    margin: 0;
    color: black;
}

.box a:hover > img {
    opacity: 40%;
}

.box a:hover > p {
    display: block;
}

@media(max-width:920px) {
  .box img {
    height: 300px;
    opacity: 40%;
  }

  .box a > p {
    display: block;
  }
}

.content img p {
    position: absolute;
}

#logo {
    max-height: 50px;
}

.footer {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 32px auto;
    justify-content: space-between;
    width: 50%;
    background-position: center;
}

a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: #c14135;
}

.btn-primary {
  background-color: #c14135;
  border-color: #c14135;
  opacity: 90%;
}

.dropdown {
  width: 200px;
  text-align: center;
}

.dropdown-item.active {
  background-color: #c14135;
}

.dropdown-item:focus {
  background-color: #c14135;
}

.btn-primary:focus {
  background-color: #c14135;
}

.btn-primary:hover {
  background-color: #c14135;
  opacity: 95%;
}

@media(max-width:1200px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
  }
}
